.seccion-oculta { 
            display: none; 
        }
        
        .seccion-activa:target { 
            display: block; 
        }
        
        
        .portada-montana {
            background-image: url('YT-Industries_Live-Uncaged_new-brand-identity_2018-mountain-bikes_new-Dirt-Love-steel-hardtail-dirtjump-bike.jpg');
            background-size: cover;
            background-position: center;
        }
        
        
        .foto-bici-destacada {
            height: 400px;
            width: auto;
            
        }
        
   
        
        .precio-destacado {
            font-size: 50px;
            font-weight: bold;
        }
        
        .boton-volver {
            padding: 20px 30px;
        }